#pageHead{
  
}
.project-preview-container{
  right: 0px;
  margin: 20% auto;
  display: block;
  z-index: 2;
  position: fixed;
  width: 50%;
  height: auto;
}
.project-preview{
  max-width: 100%;
  height: auto;
}

.project-preview-test{
  max-width: 100%;
  height: auto;
  width: 50%;
  position: fixed;
  display: block;
  margin: auto;
  right: 0px;
  top: 50%;
  z-index: 2;
}
.project-list{
  top: 40px;
  position: absolute;
}
.project.finished{
  background-color: rgba(100,230,150,180);
  border-radius: 5px;
}
.project.wip{
  background-color: rgba(230,100,100,180);
  border-radius: 5px;
}
