#pageHead{
  
}
.project-preview-container{
  right: 0px;
  margin:auto;
  top: 50%;
  z-index: 2;
  position: fixed;
  width: 50%;
  height: auto;
}
.project-preview{
  max-width: 100%;
  height: auto;
}
.project-list{
  top: 40px;
  position: absolute;
}
.project.finished{
  background-color: rgba(100,200,180,180);
}
.project.wip{
  background-color: rgba(200,100,120,180);
}
