<!DOCTYPE html>
<html>
<head>
<title>Timoman7 | Home</title>
<script src="jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var app = angular.module('projects', []);
  app.controller("myCtrl", function($scope) {
    $scope.cur_img = "blank";
    for(var i = 0; i < document.getElementsByClassName("project").length; i++){
        $scope[document.getElementsByClassName("project")[i].getAttribute('ng-model')+"_prog"] = document.getElementsByClassName("project")[i].getAttribute("progress");
    }
  });
</script>
<h1 id="pageHead">Projects</h1>
<div ng-app="projects" ng-controller="myCtrl">
  
  <a href="/ApocalypseSim" class="project" progress=100 ng-model="apoc" ng-mouseover="cur_img = 'apoc'">Apocalypse Simulator</a>
  <br>
  <progress max=100 value="{{apoc_prog}}"></progress>
  <br>
  <a href="/multiplayerJS" class="project" progress=50 ng-model="mpjs" ng-mouseover="cur_img = 'mpjs'">Multiplayer JS</a>
  <br>
  <progress max=100 value="{{mpjs_prog}}"></progress>
  <br>
  <a href="/Whim" class="project" progress=90 ng-model="whim" ng-mouseover="cur_img = 'whim'">Whim</a>
  <br>
  <progress max=100 value="{{whim_prog}}"></progress>
  <br>
  <image style = "right: 0px; top: 0px; z-index: 2; position: fixed;" src="{{'/images/' + cur_img + '.png'}}"></image>
</div>
</body>
</html>
