<!DOCTYPE html>
<html>
<head>
<title>Timoman7 | Home</title>
<script src="jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel='stylesheet' href='css/main.css'>
</head>
<body>
  <script type="text/javascript">
    var app = angular.module('projects', []);
    app.controller("myCtrl", function($scope) {
      $scope.cur_img = "blank";
      $scope.finished_proj = document.getElementsByClassName('project finished').length;
      $scope.wip_proj = document.getElementsByClassName('project wip').length;
      for(var i = 0; i < document.getElementsByClassName("_project").length; i++){
          $scope[document.getElementsByClassName("_project")[i].getAttribute('ng-model')+"_prog"] = parseInt(document.getElementsByClassName("_project")[i].getAttribute("progress"));
      }
    });
  </script>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bane's Hub</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/info/">Info</a></li>
        <li><a href="/social/">Social</a></li>
      </ul>
    </div>
  </nav>
  <div class="project-list">
    <h1 id="pageHead">Projects</h1>
    <div ng-app="projects" ng-controller="myCtrl">
      <div ng-mouseleave="cur_img = 'blank'">
        <button class="btn" data-toggle="collapse" data-target="#finished">Finished Projects <span class="badge">{{finished_proj}}</span></button>
        <br>
        <div id = "finished" class="projects finished collapse">
          <div class="project finished" style="background-color: rgba({{200 - apoc_prog}}, {{120 + apoc_prog}}, {{80 + apoc_prog}});">
            <a href="/ApocalypseSim" class="_project" progress=100 ng-model="apoc" ng-mouseover="cur_img = 'apoc'">Apocalypse Simulator</a>
            <br>
            <progress max=100 value="{{apoc_prog}}"></progress>
          </div>
        </div>
        <br>
        <button class="btn" data-toggle="collapse" data-target="#wip">WIP Projects <span class="badge">{{wip_proj}}</span></button>
        <div id = "wip" class="projects wip collapse">
          <div class="project wip" style="background-color: rgba({{120 + mpjs_prog}}, {{200 - mpjs_prog}}, {{220 - mpjs_prog}});">
            <a href="/multiplayerJS" class="_project" progress=50 ng-model="mpjs" ng-mouseover="cur_img = 'mpjs'">Multiplayer JS</a>
            <br>
            <progress max=100 value="{{mpjs_prog}}"></progress>
          </div>
          <br>
          <div class="project wip" style="background-color: rgba({{120 + whim_prog}}, {{200 - whim_prog}}, {{220 - whim_prog}});">
            <a href="/Whim" class="_project" progress=90 ng-model="whim" ng-mouseover="cur_img = 'whim'">Whim</a>
            <br>
            <progress max=100 value="{{whim_prog}}"></progress>
          </div>
        </div>
        <br>
      </div>
      <div class = "project-preview-container">
        <image class = "project-preview" src="{{'/images/' + cur_img + '.png'}}" alt="blank.png"></image>
      </div>
    </div>
  </div>
</body>
</html>
